<div class="col-9 border" style="height:200px; margin-top:30px">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Senna</h5>
    <p class="card-text">The best Skin</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <%= image_tag "Senna_9.jpg",class:"card-img-bottom" %>
  <%# //<img src="..." class="card-img-bottom" alt="..."> %>
</div>
</div>
<div class="col-3 text-center" style="margin-top:30px">
<div class="card mx-2">
  <%= image_tag "Senna_9.jpg",class:"card-img-bottom" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>